<h2><%= @bosses.name %></h2>
<p class="boss_info">Description: <%= @bosses.description %></p>
<p class="boss_info">HP: <%= @bosses.healthPoints %></p>
<p class="boss_info">Region: <%= @bosses.region %></p>
<p class="boss_info">Location: <%= @bosses.location %></p>
<p class="boss_info">Drops: <%= @bosses.drops %></p>
<img src="<%= @bosses.image%>" alt="Boss img" id="image-center"/>


<%= link_to "Search again!", request.referer.present? ? request.referer : default_path, class: "index-link" %>
